{% extends 'base.html' %}

{% block content %}

<div class="container mx-5">
    <img class="img-thumbnail" src="{{course.image_url}}" alt="image for {{course.title}}" />
    <h1>{{ course.title }}</h1>
    <p>{{ course.description }}</p>
    <p>Teacher: {{ course.teacher.full_name }}</p>
    <p>Category: {{ course.category.title }}</p>
    <p>Level: {{ course.get_level_display }}</p>
    <p>Duration: {{ course.duration }} hours</p>
    <p>Rating: {{ course.rate }}/10 ⭐</p>
    <p>Price: {{ course.price }} $</p>
    {% if course.teacher == request.user %}
        <a class="btn btn-outline-primary mt-auto" href="{% url 'course:edit_course' course.id %}">Edit Course</a>
        <a class="btn btn-outline-danger mt-auto" href="{% url 'course:delete_course' course.id %}">Delete Course</a>
    {% else %}
        <a class="btn btn-outline-primary mt-auto {% if status == 'IB' %}disabled{% endif %}" href="{% url 'course:add_to_bucket' course.id %}">🛒 Add to bucket</a>
        <a class="btn btn-outline-warning mt-auto {% if status == 'WL' %}disabled{% endif %}" href="{% url 'course:add_to_wishlist' course.id %}">❤️ Add to wishlist</a> 
    {% endif %}
</div>

{% endblock %}