{% extends 'base.html' %}

<!-- class Course(models.Model):
    class Level(models.TextChoices):
        BEGINNER = 'BG', 'Beginner'
        INTERMEDIATE = 'IN', 'Intermediate'
        ADVANCED = 'AD', 'Advanced'
    title = models.CharField(max_length=200)
    description = models.TextField(validators=[MaxLengthValidator(1000)])
    price = models.DecimalField(max_digits=6, decimal_places=2, validators=[MinValueValidator(0)])
    image_url = models.URLField(default="https://picsum.photos/300/200?blur=5")
    level = models.CharField(max_length=2, choices=Level.choices)
    duration = models.DecimalField(max_digits=4, decimal_places=1, validators=[MinValueValidator(0)])
    category = models.ForeignKey(Category, on_delete=models.CASCADE, related_name='courses')
    teacher = models.ForeignKey(CustomUser, on_delete=models.CASCADE, related_name='courses') -->

{% block content %}

<div class="container mx-5">
<img class="img-thumbnail" src="{{course.image_url}}" alt="image for {{course.title}}" />
<h1>{{ course.title }}</h1>
<p>{{ course.description }}</p>
<p>Category: {{ course.category.title }}</p>
<p>Duration: {{ course.duration }} hours</p>
<p>Level: {{ course.get_level_display }}</p>
<p>Price: {{ course.price }} $</p>
<p>Teacher: {{ course.teacher.full_name }}</p>
</div>

{% endblock %}